@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.d-flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.hide_div {
    display: none;
}

.show_div {
    display: block;
}

.pointer-disable {
    pointer-events: none;
}
.pointer-enable{
    pointer-events: none;
}